/* CSS for small display device */

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #33bcf3;
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px 0;
}

h1 {
  font-size: 3em;
  font-family: 'Markazi Text', serif;
}

h2 {
  color: black;
  padding-top:20px;
}

nav {
  text-align: center;
  background-color: black;
  font-size: 1.3 rem;
  font-family: 'Baloo Tamma 2', cursive;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: #FFA500;
}

nav a:hover {
  color: grey;
  text-decoration: underline;
}

nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 1.25;
  list-style-type: none;
  padding-left: 0;
}

nav ul li {
  list-style-type: none;
  padding: 0.5em 1em;
  width: 100%;
  border: 1px solid bottom;
}

footer {
  background-color: #33bcf3;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  padding: 1em;
  color: black;
}

main {
  padding: 0 2em 2em;
  display: block;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #dedee3;
  padding-bottom: 0px;
}

#homeimg {
  height: 300px;
  background-image: url("images/busimage.jfif");
  background-size: cover;
  background-size: 100% 100%;
}

#aboutimg {
  height: 300px;
  background-image: url("images/busimage2image.jfif");
  background-size: cover;
  background-size: 100% 100%;
}

#contactimg {
  height: 300px;
  background-image: url("images/contactus.jpg");
  background-size: cover;
  background-size: 100% 100%;
}

main h2, main p, main div {
  padding-left: 1em;
  padding-right: 1em;
}

main img {
  float: left;
  padding-right: 2em;
  padding-bottom: 2em;
}

header a {
  text-decoration: none;
  color: #231814;
}

table {
  margin-left: 0px;
  width: 90%;
  border-spacing: 0
}

.table {
  width: 100%;
  border-collapse: collapse;
 
}

.table td, th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: darkblue;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: silver;
}

#avail {
  background-color: green;
}

#navail {
  background-color: red;
}

/* css for form */

.container {
  border: 2px solid green;
  margin: 50px 100px;
  padding: 5px 5px;
  width: 25%;
  background-color: orange;
  color: white;
  border-radius: 10px;
 
}

.formgroup input {
  text-align: center;
  width: 70px;
  border: 2px solid green;
  border-radius: 10px;
  margin: 6px 0px;
}

.container h3 {
  text-align: center;
  color: white;
}

.container button {
  display: block;
  width: 50%;
  margin: 2px auto;
}



/* css for medium display device */

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width:1024px) {
  header {
    padding-left: 0px;
    text-align: center;
  }
  h1 {
    text-align: center;
    font-size: 3em;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    justify-content: space-around;

  }

  /* Making table responsive */
  .table thead {
    display: none;
  }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

/* css for large display device */

@media only screen and (min-width: 1024px) {
  @supports (display: grid) {
    #wrapper {
      display: grid;
      grid-template: "header header" "nav   main" "footer   footer" / 200px;
    }
    nav ul {
      display: flex;
      flex-direction: column;
    }
    header {
      text-align: center;
      grid-area: header;
    }
    nav {
      grid-area: nav;
    }
    main {
      grid-area: main;
    }
    footer {
      grid-area: footer;
    }
    #section2 {
      position: relative;
      top: 100px;
      left: -150px;
    }
    #section2 img {
      float: right;
      position: relative;
      right: -180px;
      top: -80px;
    }
    #section2 p {
      position: relative;
      left: 150px;
      top: -10px;
    }
    /* form css */
    .container {
      margin: 50px 400px;
      width: 30%;
    }
    .formgroup input {
      width: 300px;
      padding: 6px;
    }
    .container button {
      width: 35%;
    }
  }
}